[submodule "poc_wipro_DFS"]
	path = poc_wipro_DFS
	url = https://github.com/MEHBUB-6001/poc_wipro_DFS.git
[submodule "poc_wipro_diagnostics"]
	path = poc_wipro_diagnostics
	url = https://github.com/MEHBUB-6001/poc_wipro_diagnostics.git
